/* Define uma fonte personalizada chamada 'Addington' */
@font-face {
  font-family: 'Addington';
  src: url('../fonts/AddingtonCF-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../fonts/PlayfairDisplay-MediumItalic.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}


h2, h3 {
  font-family: Addington, serif;
}

/* Estilos gerais do corpo da página */
body {
  background:
    linear-gradient(#ebdfced8, #ebdfced8),
    url('../img/fundo-ruidoso.jpg') repeat;
  margin: 0;
  /* Remove margens padrão */
  overflow-x: hidden;
  
}

p {
  font-family: Raleway, sans-serif;
}

/* Estilo do cabeçalho fixo no topo */
header {
  background-color: #704d49;
  /* Cor de fundo marrom */
  padding: 10px;
  top: 0;
  position: fixed;
  /* Fixa o cabeçalho no topo */
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 10;
}

/* Estilo da lista de navegação */
ul {
  display: flex;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  /* Remove marcadores de lista */
}

/* Estilo dos links de navegação */
ul li a {
  position: relative;
  display: block;
  text-transform: uppercase;
  /* Transforma texto em maiúsculas */
  margin: 20px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #E6DCCF;
  font-size: large;
  font-weight: 600;
  transition: 0.5s;
  /* Transição suave para hover */
  z-index: 1;
}

/* Efeito de fundo animado no hover */
ul li a::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #371a11;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
  border-radius: 20px;
}

/* Efeitos quando o mouse passa sobre os links */
ul li a:hover {
  color: #fff;
}

ul li a:hover::before {
  transform: scaleY(1);
  opacity: 1;
}

ul li a:hover::after {
  transform: scaleY(1);
  opacity: 1;
}

/* Estilo do logo */
#logo {
  width: 40px;
  height: 40px;
}

/* Estilo de um elemento com imagem de fundo (possivelmente um cartão) */
#cartao {
  background-image: url('../img/_DSC7225.jpg');
  background-size: cover;
  border-radius: 3rem;
  margin-bottom: 40px;
}


#sobre {
  background-image: url('../img/sobremim3.jpg');
  background-size: cover;
  background-position: center;

  height: 1000px;
  /* importante para a imagem aparecer */
}



/* Container para o texto do cabeçalho */
#text-cabecalho {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* Container principal - layout flexível centralizado */
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  /* O gato vai junto */
}

/* Segundo container - layout em coluna */
.container2 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
}

/* Terceiro container - layout flexível centralizado */
.container3 {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

/* Quarto container - layout flexível centralizado */
.container4 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

/* Estilo do conteúdo principal */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 30%;
  border-radius: 5px;
  padding-left: 200px;
}
.content h2{
  font-size: 70px;
  margin-bottom: 0px;
}
.content h3{
  font-size: 30px;
}
#texto{
  font-size: 20px;
  max-width: 500px;
}

/* Estilo do conteúdo principal */
.content2 {
  margin-left: 200px;
  font-size: 1.2rem;
  position: absolute;
  width: 500px;
  padding: 30px;
    color: black;
}

/* Estilo do conteúdo principal */
.cards_container {
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  padding: 20px;
}

.card {
  background-color: rgb(252, 246, 237);
  border: solid;
  border: 1px;
  height: 300px;
  width: 300px;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: transform 0, 2s;
}

.card:hover {
  transform: scale(1.02);
  transition: 0.2s;
  box-shadow: 0 2px 6px rgba(0, 0, 0.2, 0.4);
}

.card h3 {
  margin-top: 0;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.card p {
  margin: 10px 0 0;
  font-size: 25px;
}

.abordagens {
  color: #47352f;
  text-align: center;
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 50px;
}

.abordagens_cards{
  color: #47352f;
  font-weight: bold;
  font-size: 1.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#content3 {
  font-size: 1.1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.content3_1,
.content3_2 {
  flex: 1 1 300px;
  max-width: 500px;
  border: solid;
  border-color: transparent;
  border-width: 4px;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  animation: fadeIn 1s ease-in-out;
}

.content3_1:hover,
.content3_2:hover {
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  border-color: #47352f;
  transition: all 0.5s ease;
}

.content3_1 {
  margin-right: 40px;
  background: url('../assets/puzzle-toy-svgrepo-com.svg') no-repeat bottom 20px right 20px;
  background-size: 40px;
}

.content3_2 {
  margin-right: 40px;
  background: url('../assets/woman-thinking-svgrepo-com.svg') no-repeat bottom 20px right 20px;
  background-size: 40px;
}

.faq {
  background-color: #dcc7ab;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  gap: 60px;
  flex-wrap: wrap;
}

.faq-texto {
  flex: 1;
  max-width: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.faq-texto h2 {
  color: #4b443e;
  font-size: 36px;
  text-align: right;
}

.faq-conteudo {
  flex: 1;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.faq-item {
  background-color: #fcf6ed;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}


.faq-question {
  color: #47352f;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 25px;
  width: 100%;
  border: none;
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.15s;
}

.faq-question:hover {
  color: #882d08;
}

.faq-answer {
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.3s ease;
  padding-top: 0;
  padding-right: 25px;
  padding-bottom: 0px;
  padding-left: 25px;
  text-align: left;
}

.faq-answer.open {
  padding-top: 0;
  padding-right: 25px;
  padding-bottom: 0;
  padding-left: 25px;
  max-height: 350px;
}

.plus {
  font-size: 24px;
}

.botao,.botao2 {
  color: #E6DCCF;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  background-color: #882d08;
  padding: 15px 15px 15px 15px;
  border: None;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}

.botao:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.botao2:hover{
  transform: scale(1.1);
  transition: 0.5s;
}

.botao:active {
  opacity: 0.5;
  transform: scale(0.95);
} 

.whatsapp-button {
  position:fixed;
  right: 20px;
  bottom: 20px;
  background-color: green;
}

.Agende2 {
  margin-top: 30px;
  width: 100%;
  display: flex;
  padding: 16px;
}

.Agende {
  background-color: #dcc7ab;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.Container5{
  background-color: #fcf6ed;
  border-radius: 20px;
  padding: 30px 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  text-align: center;
  align-items: center;
  max-width: 400px;
  margin: 100px auto;
}
.Contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;  
}
.ContatoFT p {
  font-size: 18px;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}
.ContatoFT{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}
.ContatoFT img {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  
}
.Container5 h2{
  margin-bottom: 40px;
  color: rgb(71, 53, 47);
}
.Foto_Contato{
  margin-top: 20px;
}
.Foto_Contato img{
  width: 120px;
  height: 120px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border: solid;
  border: 4px;
  border:white;
}
.wpp {
  vertical-align: -8px;
  width: 30px;
  height: 30px;
}
/* Estilo do rodapé fixo */
footer {
  background-color: #704d49;
  bottom: 0;
  position: sticky;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  padding: 3px
}
html,body{
  overflow-x: hidden;
}